@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(257, 40%, 49%);
  background-image: url('images/bg-mobile.svg');
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 1300px;
  max-width: 80%;
  margin: auto;
  text-align: center;
}

header {
  margin: 4rem 0;
  text-align: left;
}

header .logo {
  width: 15rem;
}

aside .illustration {
  width: 100%;
  margin-bottom: 3rem;
}

section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

section p {
  margin: 2rem 0;
}

section button {
  outline: none;
  border: none;
  background: #fff;
  color: hsl(257, 40%, 49%);
  padding: 1rem 5rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.links-rx {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-rx a {
  margin: 0 0.5rem;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media (min-width: 700px) {
  body {
    background-image: url('images/bg-desktop.svg');
    background-size: cover;
    background-position: center center;
  }

  main {
    width: 100%;
    display: flex;
    align-items: center;
  }

  section h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  aside {
    flex: 1;
    margin-right: 4rem;
  }
  aside .illustration { margin: 0; }

  section {
    flex: 1;
    text-align: left;
  }

  .links-rx {
    margin-top: 4rem;
  }

  .links-rx {
    justify-content: flex-end;
  }
}
